@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  color: #252525;
}
header {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}
header .navbar {
  padding: 16px 0;
  height: 64px;
  background: #fff;
  z-index: 100;
}
header .navbar .navbar-brand {
  margin-right: 5rem;
  padding: 0;
}
header .navbar-nav {
  flex-direction: row;
}
header .navbar-nav .nav-link {
  font-size: 18px;
  font-weight: 400;
  padding: 0 !important;
  margin: 0 12px;
  line-height: 32px;
  color: #212121;
}
header .navbar .nav-link:hover, header .navbar .nav-link:hover svg path {
  color: #F28521;
  fill: #F28521;
}
header .navbar .nav-link.active {
  color: #F28521;
  font-weight: 600;
}
header .navbar-nav .dropdown-menu {
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.40);
}
.left-menu {
  padding: 0;
  margin: 0;
}
.left-menu .nav-item {
  padding: .75rem 0;
  display: block;
  border-top: 1px solid #F5F7FA;
}
.left-menu .nav-item .nav-link {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #212121;
  display: block;
  padding: 0 1rem;
}
.left-menu .nav-link:hover {
  color: #F28521;
  fill: #F28521;
}
.left-menu .nav-link.active {
  color: #F28521;
  font-weight: 600;
}
.menu-btn {
  padding: 0;
  margin: 0 6px;
  border: none;
  display: none;
}
.menu-btn .nav-link {
  line-height: 36px !important;
  margin: 0 !important;
  color: #F28521 !important;
  font-size: 24px !important;
}
.search {
  width: 360px;
  border: 1px solid #bdbdbd;
}
.search .input-group-text {
  border: none;
  border-radius: 0;
  background: #fff;
  padding: 0 .25rem;
}
.search .input-group-text svg {
  height: 16px;
}
.search .form-control {
  border: none;
  font-size: 14px;
  font-weight: 400;
  padding: .5rem 0;
}
.banner img {
  height: 510px;
  opacity: .95;
  object-fit: cover;
}
.banner .carousel-caption {
  position: absolute;
  bottom: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  left: 0;
  right: 0;
  text-align: left;
  padding: 0;
}
.banner h1 {
  color: #212121;
  font-size: 38px;
  font-style: normal;
  font-weight: 300;
  line-height: 56px;
}
.banner h1.white {
  color: #FFF;
}
.banner h1 span {
  color: #F28521;
  font-weight: 700;
}
.banner h1 strong {
  font-weight: 700;
}
.carousel {
  position: relative;
  height: 510px;
  overflow: hidden;
}
.banner .banner-video {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  width: 140%;
  height: 100%;
  object-fit: cover;
}
.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: none;
  margin-right: 5px;
  margin-left: 5px;
  background-color: #717171;
  opacity: 1;
}
.carousel-indicators .active {
  background-color: #A0A0A0;
}
.industry, .hour {
  padding: 48px 0;
}
.page-title1 {
  color: #000;
  text-align: center;
  font-size: 36px;
  font-weight: 200;
  line-height: normal;
  margin-bottom: 24px;
}
.page-title2 {
  color: #000;
  text-align: center;
  font-size: 36px;
  font-weight: 200;
  line-height: normal;
  margin-bottom: 24px;
}
.sub-title, .sub-title2 {
  color: #4D4D4D;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 24px;
}
.sub-title strong, .sub-title2 strong {
  font-weight: 700;
}
.is-main {
  background: #F5F7FA;
  padding: 24px;
  border-radius: 10px;
}
.is-body {
  padding: 0px;
}
.is-body .is-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ist-left {
  font-size: 40px;
  font-weight: 800;
  line-height: normal;
}
.ist-right img{ 
    width: 120px;
    height: 60px;
    object-fit: contain;
    object-position: right;
}
.is-bottom {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 2rem;
  position: relative;
}
.is-bottom::after {
  content: '';
  height: 3px;
  width: 102px;
  background: #F28521;
  display: block;
  margin-top: 10px;
}
.btn-primary {
  border-radius: 6px;
  background: #F28521;
  border: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 7px 24px;
  white-space: nowrap;
}
.btn-primary:hover, .btn:first-child:active, .btn:focus-visible, :not(.btn-check) + .btn:active {
  border-radius: 6px;
  background: #D66804;
  border: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 7px 24px;
}
.challenge {
  padding: 48px 0;
  background: #F9F9F9;
}
.c-main {
  background: #212121;
  border-radius: 10px;
  overflow: hidden;
  color: #fff;
}
.c-main .img-holder {
  height: 220px;
	overflow: hidden;
}
.c-main img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}
.c-info {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  text-align: center;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.text-orange {
  color: #F28521;
}
.link-orange{
	color: #F28521;
	text-decoration: none;
}
.link-orange:hover{
	color: #F28521;
	text-decoration: underline;
}
.hour-card .card {
  border: 1px solid #D5E4ED;
}
.hour-card .card-body {
  text-align: center;
  padding: 24px;
}
.hour-card .card-text {
  color: #000;
  font-size: 24px;
  font-weight: 200;
  line-height: normal;
  margin-bottom: 0;
}
.hour-card .card-text strong {
  font-weight: 700;
  display: block;
}
.s-card {
  height: 100%;
  border-radius: 10px;
  border: none;
  border-bottom: 4px solid #F28521;
  box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.40);
}
.s-card img {
  height: 219px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}
.s-card .card-body {
  padding: 24px 24px 14px 24px;
}
.s-card .card-title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #000;
}
.s-card p {
  color: #4D4D4D;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}
.movement {
  background: #E3E9ED url(../img/join.webp) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 36px;
  border-radius: 10px;
  text-align: center;
}
.movement h1 {
  color: #212121;
  text-align: center;
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 44px;
}
.footer-top {
  padding: 64px 0 48px 0;
  background: #212121;
}
.footer-title {
  color: #FFF;
  text-align: center;
  font-size: 48px;
  font-weight: 200;
  margin-bottom: 48px;
}
.footer-top p {
  color: #89939E;
  font-size: 18px;
  font-weight: 400;
}
.section-title {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 24px;
}
.subscribe .form-control {
  border: none;
  color: #89939E;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}
.social-links {
  padding: 0;
  margin: 0;
}
.social-links li {
  display: inline-block;
  margin-right: 12px;
}
.social-links li a {
  height: 46px;
  width: 46px;
  display: block;
  background: #4D4D4D;
  border-radius: 4px;
  text-align: center;
  line-height: 46px;
  color: #ABBED1;
  font-size: 28px;
}
.social-links li a:hover {
  color: #fff;
  background: #F28521;
}
.footer-bottom {
  padding: 30px 0;
  background: #0A0A0A;
  color: #888;
  font-size: 16px;
  font-weight: 400;
}
.footer-links {
  padding: 0;
  margin: 0;
}
.footer-links li {
  display: inline-block;
}
.footer-links li:after {
  content: '';
  height: 10px;
  width: 1px;
  background: #fff;
  display: inline-block;
  margin: 0 10px;
}
.footer-links li:last-of-type::after {
  display: none;
}
.footer-links li a {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
.footer-links li a:hover {
  color: #F28521;
}
.form-control:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0 rgba(13, 110, 253, .25);
}
.banner-about {
  background: url("../img/about1.webp") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 64px 0;
}
.banner-about h3 {
  font-size: 32px;
  font-weight: 500;
}
.banner-about p {
  color: #4D4D4D;
  font-size: 18px;
  font-weight: 400;
	line-height: 24px;
	margin-bottom: 0;
}
.about-expertise {
  padding: 48px 0 16px 0;
}
.expertise-body {
  background: #F5F7FA;
  border-radius: 10px;
  overflow: hidden;
}
.expertise-img {
  background: url("../img/about2.webp");
  background-size: cover;
  background-position: center;
  min-height: 200px;
}
.expertise-content {
  padding: 40px 36px;
}
.expertise-content h2 {
  color: #000;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 16px;
}
.expertise-content p {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 0;
}
.leader-list {
  border-radius: 8px;
  border: 1px solid #ABBED1;
  padding: 16px;
  background: #F5F7FA;
  box-shadow: 0px 4px 8px 0px rgba(171, 190, 209, 0.40);
}
.leader-header {
  display: flex;
  column-gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}
.leader-header h6 {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
}
.leader-header p {
    color: #F28521;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
}
.leader-img {
  height: 80px;
  width: 80px;
  min-width: 80px;
  border-radius: 10px;
  border: 1px solid #ABBED1;
}
.leader-img img {
  height: 80px;
  width: 80px;
  border-radius: 10px;
  object-fit: cover;
}
.leader-body p {
  color: #4D4D4D;
  font-size: 14px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
.modal .leader-body p {
  -webkit-line-clamp: unset;
}
.leader-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.leaders-links {
  padding: 0;
  margin: 0;
}
.leaders-links li {
    display: inline-block;
    margin-right: 4px;
}
.leaders-links li a {
    display: block;
    border-radius: 4px;
    border: 1px solid #ABBED1;
    height: 36px;
    width: 36px;
    text-align: center;
    line-height: 36px;
    font-size: 20px;
    color: #ABBED1;
}
.leaders-links li a:hover {
  color: #fff;
  background: #F28521;
  border: 1px solid #F28521;
}
.read-more {
  color: #F28521;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}
.read-more:hover {
  color: #F28521;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
}
.owl-carousel {
  padding: 0 50px;
}
.owl-nav .owl-prev, .owl-nav .owl-next {
  font-size: 36px !important;
  position: absolute;
  top: 40%;
  color: #4D4D4D;
}
.owl-nav .owl-prev {
  left: 10px;
}
.owl-nav .owl-next {
  right: 10px;
}
.owl-nav .owl-prev.disabled, .owl-nav .owl-next.disabled, .owl-nav .owl-next.disabled:hover, .owl-nav .owl-prev.disabled:hover {
  color: #ABBED1 !important;
  cursor: default;
}
.owl-nav .owl-prev:hover, .owl-nav .owl-next:hover {
  color: #F28521 !important;
}
.owl-dots {
  margin-top: 32px;
  display: flex;
  gap: 12px;
  justify-content: center;
}
.owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: rgba(217, 217, 217, 0.50) !important;
}
.owl-dot.active {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: rgba(217, 217, 217, 1) !important;
}
.contact {
  padding: 36px 0;
  background: url("../img/contact.webp") no-repeat;
  background-size: cover;
  background-position: bottom;
}
.contact-header {
  color: #000;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 16px;
}
.contact-section {
  background: #fff;
  padding: 48px 80px;
  border-radius: 30px;
  box-shadow: 0px 141px 200px -80px rgba(25, 58, 75, 0.30);
}
.contact-title {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}
.contact-info {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 28px;
}
.contact-form .form-control {
  border-radius: 6px;
  color: #212121;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.16px;
  border: 1px solid #ABBED1;
}
.map {
  height: 280px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #F5F7FA;
}
.text-grey {
  color: #89939E;
}
.industry-list {
  display: grid;
  grid-template-columns: 33.33333333% 33.33333333% 33.33333333%;
  padding: 0;
  margin: 0;
}
.industry-list li {
  display: inline-block;
  padding: 24px;
}
.industry-list li:nth-child(1), .industry-list li:nth-child(2), .industry-list li:nth-child(4), .industry-list li:nth-child(5) {
  border-right: 1px solid #D2D4D6;
}
.industry-list li:nth-child(1), .industry-list li:nth-child(2), .industry-list li:nth-child(3) {
  border-bottom: 1px solid #D2D4D6;
}
.offcanvas.offcanvas-top{
	top:64px;	
	border-radius: 0 0 10px 10px;
	height: auto;
	bottom: auto;
}
.offcanvas-backdrop{
	z-index: 0;
}
.about-banner{
	display: none;
}
.movement img {
  height: 48px;
}

/*----------media css starts----------*/

@media (max-width: 1399.98px) { 

.ist-right img {
    width: 100px;
    height: 50px;
}
.is-bottom {
    font-size: 18px;
    line-height: 24px;
    margin-top: 1rem;
}
.page-title1 {
  font-size: 30px;
  margin-bottom: 24px;
}
.page-title2 {    
    font-size: 36px;
    margin-bottom: 16px;
}
.sub-title {   
    font-size: 24px;
    margin-bottom: 24px;
}
	.c-main .img-holder {
  height: 210px;
	overflow: hidden;
}
.c-main img {
    height: 210px;
}
.c-info {
    font-size: 20px;
}
.hour-card .card-body {
    text-align: center;
    padding: 16px;
}
.hour-card .card-text {    
    font-size: 20px;
}
.s-card .card-body {
   padding: 18px 24px 8px 24px;
}
.s-card p {
  font-size: 14px;
  margin-bottom: 10px;
}
.banner-about { 
  padding: 48px 0;
}
.banner-about h3 {
  font-size: 28px;
}

}

@media (max-width: 1199.98px) {  
  .ist-left {
    font-size: 36px;
    font-weight: 800;
    line-height: normal;
  }
  .ist-left {
    font-size: 36px;
  }
  .ist-right {
    height: 50px;
  }
  .is-bottom {
    font-size: 18px;
  }
  .contact-section {
    padding: 40px 40px;
  }
}
@media (max-width: 991.98px) {
  header .navbar .navbar-brand {
    margin-right: 1rem;
  }
  .carousel {
    position: relative;
    height: 400px;
    overflow: hidden;
  }
  .banner img {
    height: 400px;
    opacity: .95;
    object-fit: cover;
  }
  .banner h1 {
    color: #212121;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
  }
  .page-title1 {
    font-size: 24px;
  }
  .page-title2 {
    font-size: 36px;
    margin-bottom: 24px;
  }
  .sub-title {
    font-size: 24px;
  }
  .footer-title {
    font-size: 36px;
    margin-bottom: 24px;
  }
  .industry-list {
    grid-template-columns: 50% 50%;
  }
  .industry-list li:nth-child(1), .industry-list li:nth-child(3), .industry-list li:nth-child(5) {
    border-right: 1px solid #D2D4D6;
  }
  .industry-list li:nth-child(1), .industry-list li:nth-child(2), .industry-list li:nth-child(3), .industry-list li:nth-child(4) {
    border-bottom: 1px solid #D2D4D6;
  }
  .industry-list li:nth-child(2), .industry-list li:nth-child(4) {
    border-right: none;
  }
  .s-card .card-body {
    padding: 16px 16px;
  }
  .s-card p {
    font-size: 16px;
    margin-bottom: 16px;
  } 
  .expertise-content {
    padding: 24px 36px;
  }
}
@media (max-width: 767.98px) {
  .navbar-left {
    display: none;
  }
  .menu-btn {
    display: inline-block;
  }
  .is-main {
    padding: 12px 16px;
  }
  .ist-left {
    font-size: 32px;
  }
  .ist-right {
    height: 48px;
  }
.ist-right img {
  height: 48px;
}
  .is-bottom {
    font-size: 20px;
    margin-top: 1rem;
  }
  .page-title2 {
    font-size: 32px;
    margin-bottom: 12px;
  }
  .sub-title {
    font-size: 24px;
    margin-bottom: 24px;
  }
  .page-title1 {
    font-size: 24px;
  }
  .footer-title {
    font-size: 30px;
    margin-bottom: 12px;
  }
  .movement h1 {
    font-size: 24px;
  }
  .contact-header {
    font-size: 30px;
  }
  .contact-section {
    padding: 24px 24px;
  }
.banner-about {
    padding: 16px 0;
	background: #E0DFDB;
}
.about-banner{
		display: block;
		height: 200px;
		object-fit: cover;
		width: 100%;
	}
.la-times{
		color: #252525;
	}
}
@media (max-width: 575.98px) {
  .industry-list {
    grid-template-columns: 100%;
  }
  .industry-list li:nth-child(1), .industry-list li:nth-child(3), .industry-list li:nth-child(5) {
    border-right: 0px solid #D2D4D6;
  }
  .industry-list li:nth-child(5) {
    border-bottom: 1px solid #D2D4D6;
  }	
  .c-main img {
    height: 210px;
	 transform: scale(1.5);
	object-position: left;
  } 
  .c-info {
    font-size: 18px;
    padding: 16px 0px;
  }
  .page-title2 {
    font-size: 32px;
    margin-bottom: 12px;
  }
  .sub-title {
    font-size: 24px;
    margin-bottom: 24px;
  }
  .sub-title2 {
    font-size: 16px;
    margin-bottom: 24px;
  }
  .footer-title {
    font-size: 24px;
    margin-bottom: 12px;
  }
  .contact-header {
    font-size: 24px;
  }
  .movement {
    padding: 24px;
  }
  .movement h1 {
    margin-bottom: 30px;
  }
	
	.owl-carousel {
  padding: 0 20px;
}
 .owl-nav .owl-prev {
  left: 0px;
}
	.owl-nav .owl-next {
  right: 0px;
}

.about-expertise {
    padding: 24px 0 16px 0;
}
.expertise-content {
    padding: 24px;
}
.industry-list li {
    padding: 24px 0;
}
.carousel {
    height: auto;
}
 .banner img {
    height: 272px;
	object-position: right;
  }
  .banner h1 {
    font-size: 28px;
	line-height: 32px;
  }
	.banner .banner-video {  
  height: 272px;
}
.banner .carousel-caption {
  position: relative;
	background: #181D23;
	padding: 1rem 1rem 2rem 1rem;
	min-height: 216px;
}
.banner .carousel-caption.c1 {  
	background: #181D23;
}
.banner .carousel-caption.c2 {  
	background: #DBDEE0;
}
.banner .carousel-caption.c3 {  
	background: #D1CFC3;
}
.carousel-indicators [data-bs-target] {
  width: 16px;
  height: 4px;
	background: #717171;
	opacity: 1;
}
.carousel-indicators .active {
  background-color: #E48900;
	width: 16px;
  height: 6px;
}	
.industry, .hour, .challenge  {
  padding: 16px 0;
}
	
 .contact-text{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 1rem;
}
	.contact-text h6, .contact-text p{
		margin: 0;
	}
	
	
}